<h2 class="display-5 my-4">Hard Skills & Soft Skills</h2>
<article class="container" >
  <p class="shadow">
    <ngb-progressbar type="primary" [value]="90" [striped]="true" [animated]="true" height="1.5rem"
      ><span class="fs-6">HTML</span></ngb-progressbar
    >
  </p>
  <p class="shadow">
    <ngb-progressbar type="primary" [value]="90" [striped]="true" [animated]="true" height="1.5rem"
      ><span class="fs-6">CSS</span></ngb-progressbar
    >
  </p>
  <p class="shadow">
    <ngb-progressbar type="primary" [value]="70" [striped]="true" [animated]="true" height="1.5rem"
      ><span class="fs-6">JavaScript</span></ngb-progressbar
    >
  </p>
  <p class="shadow">
    <ngb-progressbar type="primary" [value]="60" [striped]="true" [animated]="true" height="1.5rem"
      ><span class="fs-6">JAVA</span></ngb-progressbar
    >
  </p>
</article>
