<h2 class="display-5 my-4">Hard Skills & Soft Skills</h2>
<article class="container">
  <p>
    <ngb-progressbar type="danger" [value]="70" [striped]="true"
      >Resolución de problemas</ngb-progressbar
    >
  </p>
  <p>
    <ngb-progressbar type="dark" [value]="60" [striped]="true"
      >Diseño de Sistema</ngb-progressbar
    >
  </p>
  <p>
    <ngb-progressbar type="primary" [value]="70" [striped]="true"
      >Resolución de problemas</ngb-progressbar
    >
  </p>
  <p>
    <ngb-progressbar type="success" [value]="60" [striped]="true"
      >Diseño de Sistema</ngb-progressbar
    >
  </p>
</article>
