<article>
  <h2 class="display-5 my-4">Educación</h2>

  <div class="card mb-4">
    <h6 class="card-header">Desarollador Front-end</h6>
    <p class="card-body">
      ONE Formación Front-end - Esta formación forma parte del Programa ONE, una
      alianza entre Alura Latam y Oracle. tecnologías de la Web (HTML, CSS y
      JavaScript) diseño web resposivo.
    </p>
    <p class="container">
      Expedición: abr. 2022
      <a
        class="btn btn-ligth"
        target="_blank"
        href="https://app.aluracursos.com/degree/certificate/fd776307-7988-4b01-a9a6-e644c5b7e98c"
        >Mostrar credencial</a
      >
    </p>
  </div>

  <div class="card mb-4">
    <h6 class="card-header">Fundamentos y lógica de programación</h6>
    <p class="card-body">
      Certificado: Argentina Programa Octubre - Diciembre 2021 - La cuenta de
      Marcos Ezequiel Castillo está verificada. Mumuki certifica que completó el
      curso de Certificación Argentina Programa "Sé Programar". Fundamentos
      básicos de la programación. Programación imperativa y estructura de datos
      mediante el lenguaje JavaScript. Programación Orientada a Objetos Como
      introducción al paradigma de objetos con Ruby.
    </p>
    <p class="container">
      Expedición: dic. 2021
      <a
        class="btn btn-ligth"
        target="_blank"
        href="https://mumuki.io/argentina-programa/certificates/verify/7P5LNiCqiOnTZA_1"
        >Mostrar credencial</a
      >
    </p>
  </div>
</article>
