<header>
  <div class="">
    <img class="fondoPrincipal" src="https://media-exp1.licdn.com/dms/image/C4E16AQGt2FDmFQ11Ag/profile-displaybackgroundimage-shrink_200_800/0/1641487892015?e=1657756800&v=beta&t=G7_q3GzaSEbTS6BhQOLU_S3i7j8FOxo4WmlMZ14mOJo" alt="fondo principal" />
    <img class="retrato" src="https://media-exp1.licdn.com/dms/image/C4E03AQHjnD__c92QFQ/profile-displayphoto-shrink_200_200/0/1641487536164?e=1657756800&v=beta&t=C2rk1GV0jfy6-kroa78MlrXadbXI6UA98X9q4roPLPQ" alt="retrato" />
    <h2>Marcos Castillo</h2>
    <p>Desarrollador Web</p>
    <p>Córdoba (Argentina)
    <!--  <a href="#">informaci</a></p>
    <button>Tengo interés en</button><button>Añadir Sección</button>
    <button>Más</button> -->
  </div>
</header>
