<header>
  <div class="">
    <div class="imagen-cabecera"></div>
    <img class="retrato" src="https://media-exp1.licdn.com/dms/image/C4E03AQHjnD__c92QFQ/profile-displayphoto-shrink_200_200/0/1641487536164?e=1657756800&v=beta&t=C2rk1GV0jfy6-kroa78MlrXadbXI6UA98X9q4roPLPQ" alt="retrato" />
    <h2 class="display-5 my-4">Marcos Castillo</h2>
    <p>Desarrollador Web</p>
    <p>Córdoba (Argentina)
    <!--  <a href="#">informaci</a></p>
    <button>Tengo interés en</button><button>Añadir Sección</button>
    <button>Más</button> -->
  </div>
</header>
