<h2>Proyectos</h2>
<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        class="w-100"
        src="../../../assets/img/codigoSecreto.png"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <h3 class="text-dark shadoWhite">Encriptador de texto Challenge Alura</h3>

      <a
        class="btn btn-primary"
        href="https://github.com/Marcos-Castillo/Oracle-ONE---encriptador"
        >Repositorio</a
      >
      <a
        class="btn btn-primary"
        href="https://marcos-castillo.github.io/Oracle-ONE---encriptador/"
        >Ir a Pagina</a
      >
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        class="w-100"
        src="../../../assets/img/ahorcadp.png"
        alt="Random second slide"
      />
    </div>
    <div class="carousel-caption">
      <h3 class="text-dark shadoWhite">Juego del ahorcado Challenge Alura</h3>
      <a
        class="btn btn-primary"
        href="https://github.com/Marcos-Castillo/Oracle-ONE---ahorcado"
        >Repositorio</a
      >
      <a
        href="https://marcos-castillo.github.io/Oracle-ONE---ahorcado/"
        class="btn btn-primary"
        >Ir a Pagina</a
      >
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        class="w-100"
        src="../../../assets/img/practica.png"
        alt="Random third slide"
      />
    </div>
    <div class="carousel-caption">
      <h3 class="text-dark shadoWhite">Primera practica HTML con CSS</h3>
      <a
        class="btn btn-primary"
        href="https://github.com/Marcos-Castillo/practica-html"
        >Repositorio</a
      >
      <a
        href="https://marcos-castillo.github.io/practica-html/"
        class="btn btn-primary"
        >Ir a Pagina</a
      >
    </div>
  </ng-template>
</ngb-carousel>
