.card-size{
	height: 9rem;
}     

.image_title {
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    height: 6rem;
    border-radius: 5%;

}
.image_title a {
    background: rgba(255, 255, 255, 1);
	display: block;
	color: #000;
	text-decoration: none;
	padding: 0.5rem;
	font-size: .9rem;
    text-align: center;
}
.image_title a:hover, .btn-aux:hover{
	background: rgb(200, 200, 200);
}

