<h2 class="display-5 my-4">Proyectos</h2>
<ngb-carousel>
  <ng-template ngbSlide *ngFor="let proyect of proyectos">
    <div class="picsum-img-wrapper">
      <img
        class="w-100"
        src="{{ proyect.descripcion }}"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <h3 class="text-dark shadoWhite">{{ proyect.titulo }}</h3>

      <a class="btn btn-primary m-1" href="{{ proyect.urlRepositorio }}"
        >Repositorio</a
      >
      <a class="btn btn-primary m-1" href="{{ proyect.link }}">Ir a Pagina</a>
    </div>
  </ng-template>
</ngb-carousel>
