<nav class="navbar navbar-dark bg-dark top">
  <div class="container-fluid">
    <img
      class="img-logo"
      src="../../../assets/img/APLogo-20-20.png"
      alt="logo argentina programa"
    />
    <a class="navbar-brand" href="#">Marcos Castillo</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      onclick="verificarLogin()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end bg-dark text-white"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          Marcos Castillo
        </h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item" data-bs-dismiss="offcanvas" >
            <a class="nav-link active" aria-current="page" href="#"
              ><i class="bi bi-house"></i> Home</a
            >
          </li>
          <li class="nav-item" data-bs-dismiss="offcanvas" >
            <a
              class="nav-link"
              target="_blank"
              href="https://github.com/Marcos-Castillo"
            >
              <i class="bi bi-github"></i> GitHub</a
            >
          </li>
          <li class="nav-item" data-bs-dismiss="offcanvas" >
            <a
              class="nav-link"
              target="_blank"
              href="https://www.linkedin.com/in/marcos-developer/"
              ><i class="bi bi-linkedin"></i> Linkedin</a
            >
          </li>
          <li class="nav-item" data-bs-dismiss="offcanvas" >
            <a target="_blank" class="nav-link" href="#"
              ><i class="bi bi-download"></i> Descargar Curriculum PDF</a
            >
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</nav>
