/* You can add global styles to this file, and also import other style files */
body {
    background-color: #e5e5e5;
}
.zoom:hover {
    transform: scale(1.1);
    transition: all 1s ease 0s;
  }
  .zoom{
    transition: all 1s ease 0s;
  }