<div class="container my-4">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem">
        <div class="card-body p-5 text-center">
          <form [formGroup]="form" (ngSubmit)="onEnviar($event)" class="mb-md-5 mt-md-4 pb-5" >
            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
            <p class="text-white-50 mb-5">
              Por favor ingrese su usuario y contraseña.
            </p>

            <div class="form-outline form-white mb-4">
              <label class="form-label" for="nombreUsuario">Email</label>
              <input
                type="email"
                class="form-control form-control-lg"
                formControlName="nombreUsuario"
                [ngClass]="{
                  'is-invalid': nombreUsuario?.errors && nombreUsuario?.touched,
                  'is-valid': !nombreUsuario?.errors && nombreUsuario?.touched
                }"
              />
              <div *ngIf="nombreUsuario?.errors && nombreUsuario?.touched">
                <p *ngIf="nombreUsuario?.hasError('required')" class="text-danger">
                  el Nombre Usuario es requerido
                </p>
                <p *ngIf="nombreUsuario?.hasError('nombreUsuario')" class="text-danger">
                  el nombreUsuario debe ser valido
                </p>
              </div>
            </div>
            <label class="form-label" for="typePasswordX">Contraseña</label>
            <div class="form-outline form-white mb-4">
              <input
                type="password"
                class="form-control form-control-lg"
                formControlName="password"
                [ngClass]="{
                  'is-invalid': password?.errors && password?.touched,
                  'is-valid': !password?.errors && password?.touched
                }" 
              />
              <div *ngIf="password?.errors && password?.touched">
                <p *ngIf="password?.hasError('required')" class="text-danger">
                  la contraseña es requerida
                </p>
                <p *ngIf="password?.hasError('minlength')" class="text-danger">
                  minimo 5 caracteres
                </p>
              </div>
            </div>
            <button [disabled]="form.invalid" class="btn btn-outline-light btn-lg px-5" type="submit">
              Login
            </button>
            <p><button  class="btn btn-outline-light btn-lg px-5 mt-4" routerLink="/portfolio" type="button">Ver portfolio</button></p>
          </form>
        </div>
      </div>
    </div>
  </div>
  
</div>
